.search {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

#search-btn {
    display: none;
}

#search-input {
    width: 70%;
    border-radius: 8px;
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin: 40px;
    overflow: hidden;
}

.wrap-1 {
    display: flex;
    gap: 20px;
}

.wrap-2 {
    display: flex;
    gap: 20px;
}

#asian,
#salad,
#soup,
#pasta,
#main-course {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    border: none;
}

#asian-img,
#salad-img,
#soup-img,
#pasta-img,
#main-course-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#asian-img {
    background: url('../assets/background/asian.jpeg') no-repeat center top -72px;
    background-size: 140%;
}

#salad-img {
    background: url('../assets/background/salad.jpeg') no-repeat center/cover;
    background-size: 140%;
}

#soup-img {
    background: url('../assets/background/soup.jpeg') no-repeat center/cover;
    background-size: 130%;
}

#pasta-img {
    background: url('../assets/background/pasta.jpeg') no-repeat center/cover;
}

#main-course-img {
    background: url('../assets/background/main-course.jpeg') no-repeat center/cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    margin: 40px auto;
    font-family: "Bebas Neue", sans-serif;
}

#no-recipe-found {
    display: none;
    margin-top: 80px;
}

#pagination button {
    border: none;
}

@media (max-width: 780px) {
    #asian-img,
    #salad-img,
    #soup-img,
    #pasta-img,
    #main-course-img {
        height: 90px;
        width: 90px;
    }

    #asian-img {
        background: url('../assets/background/asian.jpeg') no-repeat center top -45px;
        background-size: 140%;
    }

    #asian,
    #salad,
    #soup,
    #pasta,
    #main-course {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .category-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        'wrap-1'
        'wrap-2';
    }

    .wrap-1 {
        grid-area: wrap-1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .wrap-2 {
        grid-area: wrap-2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

}


