.search {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

#search-input {
    width: 70%;
    border-radius: 8px;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 80px;
}

.side-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 20px;
    margin-right: 20px;
}

.blog-display {
    margin-bottom: 40px;
}

.blog-display h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img {
    width: 100%;
    height: 400px;
    background: aqua;
    margin-bottom: 40px;
}

.content-body {
    font-family: "bitter", sans-serif;
    font-size: 14px;
    text-indent: 80px;
}

.date-time {
    font-family: "bitter", sans-serif;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    font-size: 14px;
}

/*recipe styling starts here*/

.recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-container > h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 8px;
    margin-bottom: 40px;
}

.recipe {
    width: 100%;
    background: #FFFEF6;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.recipe-header > h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    letter-spacing: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    padding: 8px;
}

.serving-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "bitter", sans-serif;
    font-size: 14px;
    border-bottom: solid black 1px;
    padding: 8px;
}

.recipe-detail {
    display: flex;
    margin-top: 20px;
}

.recipe-left-column {
    display: flex;
    flex-direction: column;
}

.recipe-right-column {
    display: flex;
    flex-direction: column;
}

.recipe-img {
    height: 150px;
    width: 100%;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredients > p,
.direction > p {
    font-family: "bitter", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredients ul {
    padding: 8px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: solid black 2px;
}

.ingredients li {
    list-style-type: none;
    font-family: "bitter", sans-serif;
    font-size: 14px;
    border-bottom: solid black 1px;
    padding-bottom: 4px;
}

.ingredients label {
    padding-left: 8px;
}

.direction {
    padding: 0 10px 0 20px;
}

.direction p {
    margin-top: 0;
}

.direction ol {
    font-family: "bitter", sans-serif;
    border-top: solid black 1px;
    padding: 0;
}

.direction li {
    padding: 4px 0 4px 20px;
    border-bottom: solid black 1px;
    margin-left: 20px;
}

.notes {
    margin: 20px;
    border: solid black 1px;
    height: 150px;
}

.notes > p {
    font-family: "bitter", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

/*recipe styling ends here*/

.author {
    display: grid;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
    'avatar detail'
    'social-media social-media'
}

.avatar {
    grid-area: avatar;
    margin-right: 10px;
}

.avatar-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: aqua;
}

.author-detail {
    grid-area: detail;
    align-content: center;
}

.author-name {
    font-family: bebas Neue, sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
}

.social-media {
    grid-area: social-media;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.related-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.related-contents h3 {
    font-family: beau rivage, sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.related-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 14px;
}

.related-thumbnail {
    background: aqua;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

@media (max-width: 666px) {

    main {
        flex-direction: column;
    }

    .side-contents {
        width: 100%;
    }

    .related-content {
        flex-direction: row;
    }

    .related-content h2 {
        display: none;
    }

    .related-thumbnail {
        width: 100px;
        height: 100px;
    }

    .direction > p {
        font-size: 12px;
    }

    .author {
        grid-template-columns: 1fr 1fr;
    }

    .recipe-detail {
        flex-direction: column;
    }

    .recipe-right-column {
        margin-top: 20px;
    }

    .avatar {
        display: flex;
        align-items: center;
    }
}


